/* header */
nav {
  background-color: #577381;
  height:auto;
  top:0%;
  border:0%;
  margin:auto;
}

a{
  color: #EAE5E2;
  text-decoration: none;
}
nav a{
  color: #EAE5E2;
  font-size: 20px;
  text-decoration: none;
}

/* body */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14pt;
  margin:0;
  padding:0;
}

/* logo */
.logo{
  color: #EAE5E2;
  font-size: 36pt;
  padding-left: 2%;
  padding-right: 5%;
  text-decoration: none;
}

/* block quote */
h2{
  font-size: 40pt;
  margin:5px;
}

/* unordered lists */
ul.header-footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* list item */
ul li {
  display:inline-block;
  padding: 10px;
  text-decoration: none;
}

/* footer */
footer{
    color: #EAE5E2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    background-color: #577381;
    position:fixed;
    display: block;
    margin-top:0%;
    left:0%;
    bottom:0;
    width: 100%;
    text-decoration: none;
}
/* Flex Container */
.container {
  display:flex;
  border:0;
}

  .column-left{
  flex: 1;
}

  .column-right{
  flex:1;
}

/* FORM */
form {
  border: 0;
  padding: 20px;
  margin: 0 auto;
}
.accent{
  background-color: #533440;
  color: #EAE5E2;
  border: none;
  padding: 5px;
  margin:5px;
  border-radius: 3px;
  cursor:pointer;
}

/* submit group */
.submit-group{
  margin: auto;
}


/* Text Containers w/padding*/
  .text-container {
    padding:10px;
  }

  .text-container-grey{
    background-color: rgba(230,230,230,.9);
    padding:10px;
  }

/* BOOK PAGES */
.frame {
  display:flex;
  border:0;
  margin: 1%;
  background-color: rgba(230, 230, 230, 0.9);
  background-size: fill;
}
.book-image{
  height: 266.6px;
  object-fit: cover;
  padding: 10px;
}




