/* header */
nav {
  background-color: #577381;
  position: fixed-top;
  width: 100%;
  right:0%;
  overflow: hidden;

}

a{
  color: #EAE5E2;
  text-decoration: none;
}
nav a{
  color: #EAE5E2;
  font-size: 16px;
  text-decoration: none;

}

/* body */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14pt;
  margin:0;
}

/* logo */
.logo{
  color: #EAE5E2;
  font-size: 36pt;
  margin: 0;
  padding-left: 2%;
  padding-right: 5%;
  display:inline-block;
  text-decoration: none;
}

/* block quote */
h2{
  font-size: 40pt;
  margin:5px;
}



/* unordered lists */
ul.header-footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

/* list item */
ul li {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
/* footer */
footer{
    color: #EAE5E2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    background-color: #577381;
    position: fixed;
    left:0%;
    bottom:0%;
    width: 100%;
    text-decoration: none;
  }

/* LANDING PAGE */
  /* Home Page Container */
.container{
  float:right;
  background-color: rgba(230,230,230,.9);
  min-width: 40%;
  min-height: 60%;
  margin-top: 5%;
  margin-left: 50%;
  margin-right:5%;
  margin-bottom:5%;
  border:0px;
}
/* Form */
form {
}
/* submit group */
.submit-group{
  margin: auto;
}

/* ABOUT PAGE */

/* right column */
  .column-right {
      margin-top: 2%;
      margin-left: 50%;
      margin-right: 2%;
      margin-bottom: 2%;
      height: 100%;
      background-color: rgba(230, 230, 230, 0.9);
      background-size: fill;
  }
/* column text container */
  .text-container {
    padding:10px;
    margin:5px;
  }

/* BOOK PAGE */
