/* comment here */

label {
    font-family: "Fira Sans", sans-serif;
}

footer{
    text-decoration-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:aquamarine;
}