/*NEEDS REVIEW*/
* {
    box-sizing: border-box;
  }
  form {
    border: 1px solid #333;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
  }
  .input-group {
    display: flex;
    margin-bottom: 10px;
  }
  label {
    width: 10px;
  }
  input,
  select,
  textarea {
    flex: 1;
    padding: 3px 5px;
  }
  .submit-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  <form>    
  <select name="austen-novels" id="austen-novels">
      <optgroup label="Choose Your Novel">
          <option value=>Pride & Prejudice</option>
          <option value="sense-and-sensibility">Sense & Sensibility</option>
          <option value="persuasion">Persuasion</option>
  </select>

  <div class="submit-group">
      <button class="button-accent">Meet Your Match</button>
  </div>
</form>